* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.j-nucleo {
  width: 100%;
  z-index: 100;
}

.l-contenido {
  width: 1366px;
  height: 400px;
  position: relative;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(155, 155, 255);    
  padding: 1em;
}

.l-encabezado {
  padding-top: 10px;
  background-color: red ;
  width: 500px;
  height: 150px;
  position: absolute;
  margin: auto;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.j-contenidos {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.j-index-categoria1 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}


/* INDEX.HTML */
.l-contenedor-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 26%;
  padding-right: 16%;
  background-color: 2922;
  color: white;
  height: 600px;
  width: 100%;
}

.l-texto-index {
  flex: 3;
  animation: l-entrada-about 1s ease-in-out forwards;
}

.l-imagen-index {
  flex: 2;
  animation: l-entrada-about 1s ease-in-out forwards;
}

.l-blog-section {
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.l-blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.l-blog-post {
  width: 350px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.l-blog-post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.l-blog-post h2 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.l-container-index-3 {
  display: flex;
  flex-direction: row;
  width: 80%; 
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.l-container-index-3 {
  width: 70%;
  padding: 20px;
}

.l-container-index-3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.l-grande-index-3 {
  width: 60%;
  padding: 20px;
}

.l-grande-index-3 h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #333; 
}

.l-grande-index-3 p {
  line-height: 1.6;
  color: #666;
}

.l-grande-index-3 a.read-more {
  display: block;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 15px;
}

/* INDEX.HTML */


/* MENU */
.j-menu-contenedor {
  width: 100%;
  z-index: 100000;
}

.j-menu-base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: black;
  padding: 1em;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.3s ease;
  transform: translateY(0);
}

.j-menu-base.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.j-menu-base a {
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding: 10px;
  border-radius: 10em;
}

.j-menu-base a:hover {
  background-color: white;
  color: black;
}
/* MENU */


/* FOOTER */
.l-container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121214;
  color: white;
}
  
.l-logo-footer {
  width: 140px;
  margin: 0 auto;
}
  
.l-contactanos {
  text-align: center;
}
  
.l-redes-sociales {
  text-align: center;
  margin: 0 auto;
}
  
.l-redes-sociales ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.l-redes-sociales li {
  margin-bottom: 10px;
}

.l-todos-derechos {
  padding: 1em;
  text-align: center;
  background-color: black;
  color: white;
}
/* FOOTER */



/* SOBRE NOSOTROS */

.l-contenedor-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 26%;
  padding-right: 16%;
  background-color: 2922;
  color: white;
  height: 600px;
  width: 100%;
}

.l-texto-about {
  flex: 3;
  animation: l-entrada-about 1s ease-in-out forwards;
}

.l-imagen-about {
  flex: 2;
  animation: l-entrada-about 1s ease-in-out forwards;
}

.l-equipo {
  text-align: center;
  padding: 1%;
}

.l-miembros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.l-miembro {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 300px;
  text-align: left;
}

.l-miembro img {
  width: 90%;
  height: auto;
  margin-bottom: 10px;
}

.l-miembros h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

.l-miembro h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.l-miembro h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.l-miembro p {
  line-height: 1.6;
}

@keyframes l-entrada-about {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* SOBRE NOSOTROS */


/* NO TOCAR */
menu {
  padding: 0;
  position: sticky;
  z-index: 999;
}
/* NO TOCAR */