* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.j-nucleo {
    width: 1351px;
}

.l-contenido {
    width: 1351px;
    height: 400px;
    position: relative;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(155, 155, 255);    
    padding: 1em;
}

.l-encabezado {
    padding-top: 10px;
    background-color: red ;
    width: 500px;
    height: 150px;
    position: absolute;
    margin: auto;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.j-contenidos {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.l-encabezado-texto {

}


.j-index-categoria1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.j-menu-contenedor {
    width: 1351px;
    z-index: -1;
}

menu style {
    padding-left: 0px;
}

menu {
    padding-left: 0px;
}

.j-menu-base {
    width: 1351px;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(143, 143, 143);
    padding: 0.2em;
}

.j-menu-base a {
    color: white;
    text-decoration: none;
}

.j-menu-base li {
    padding: 5px;
    background-color: rgb(143, 143, 143);
    border-radius: 10em;
    margin-left: 5px;
    color: white;
}

.j-menu-base li:hover {
    background-color: black;
    color: white;
}

.j-menu-nombre {
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 1100px;
    right: 0;
}

/* Estilos para la sección Quiénes Somos */
.who-we-are-section {
    background-color: #f9f9f9;
    padding: 20px;
}

.who-we-are-section h2 {
    color: #333;
}

/* Estilos para la sección Redes Sociales */
.social-media-section {
    background-color: #f0f0f0;
    padding: 20px;
}

.social-media-section h2 {
    color: #333;
}

.social-media-links {
    list-style: none;
    padding: 0;
}

.social-media-links li {
    display: inline;
    margin: 0 10px;
}

.social-media-links li a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
}

/* Estilos para el footer */
footer {
    background-color: #777;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}
